In [9]:
import pandas as pd
data={"Name":["John","Lisa","Harry"],
     "Age":[21,22,20],
"Salary":[30000,320000,230000]}
df=pd.DataFrame(data)
print(df)

data=pd.read_csv("C:/Users/raina/OneDrive/Desktop/Online_food_delivery/online_food_delivery_dataset/menu_items.csv")
# print(data.head(5))

    Name  Age  Salary
0   John   21   30000
1   Lisa   22  320000
2  Harry   20  230000

In [29]:
data=pd.read_csv("C:/Users/raina/OneDrive/Desktop/Online_food_delivery/online_food_delivery_dataset/menu_items.csv")
print(data.head(10))

   item_id  restaurant_id        item_name   price
0        1             49         Rasgulla  347.79
1        2              7      Gulab Jamun  205.70
2        3              8    Chole Bhature  313.79
3        4             10  Chicken Biryani  106.31
4        5             25     Samosa Chaat  297.43
5        6             11      Gulab Jamun  565.55
6        7             47      Gulab Jamun  178.71
7        8             11       Fish Curry  597.90
8        9             30       Fish Curry  537.12
9       10             32   Butter Chicken  126.83

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   item_id        250 non-null    int64
 1   restaurant_id  250 non-null    int64
 2   item_name      250 non-null    object
 3   price          250 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 7.9+ KB

In [31]:
print(data.describe())

          item_id  restaurant_id       price
count  250.000000     250.000000  250.000000
mean   125.500000      27.832000  340.543600
std     72.312977      14.712089  151.354702
min      1.000000       1.000000   82.690000
25%     63.250000      15.250000  207.622500
50%    125.500000      27.500000  344.725000
75%    187.750000      41.750000  475.492500
max    250.000000      50.000000  598.530000

In [35]:
print(data.isnull().sum())

item_id          0
restaurant_id    0
item_name        0
price            0
dtype: int64

In [40]:
print(data["price"].duplicated().sum())

1